svg, html, body  {
  box-sizing: border-box;
  height:100%;
  width:100%;
  padding:0;
  margin:0;
  background-image: radial-gradient(circle,rgb(0, 34, 35),white);
}

circle {
  fill: black;
  position: relative;
  z-index: 100;
}

line {
  stroke: rgba(0,255,255,0.05);
  stroke-width: 1;
  position: relative;
  z-index:0;
}
html { font-size: 1px; }
body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-size: 30rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: 50% 15%;
  background-size: cover;
}

main {
  position: relative;
  display: flex;
}

h1 { margin: 0; }
h1, .marker {
  transform: translateX(0);
  animation-timing-function: cubic-bezier(0.15,-0.01, 0.58, 1);
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
}

h2 { margin: 0; }
h2, .marker {
  transform: translateX(0);
  animation-timing-function: cubic-bezier(0.15,-0.01, 0.58, 1);
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.marker {
  position: absolute; top: 4px; left: -3px;
  height: 3px; width: 40px;
  background-color: Green;
  animation-name: marker;
}

.r { margin-left: 1rem;   animation-name: r; }
.e1 { margin-left: 7rem; animation-name: e1; }
.s1 { margin-left: 16rem; animation-name: s1; }
.s2 { margin-left: 21rem; animation-name: s2; }
.e2 { margin: 0 36rem 0 42rem; animation-name: e2; }

@keyframes r { 
  0%, 20% { transform: translateX(0); }
  50%, 70% { transform: translateX(35rem); }
}
@keyframes e1 { 
  0%, 20% { transform: translateX(0); }
  50%, 70% { transform: translateX(75rem); }
}
@keyframes s1 { 
  0%, 20% { transform: translateX(0); }
  50%, 70% { transform: translateX(81rem); }
}
@keyframes s2 { 
  0%, 20% { transform: translateX(0); }
  50%, 70% { transform: translateX(71rem); }
}
@keyframes e2 { 
  0%, 20% { transform: translateX(0); }
  50%, 70% { transform: translateX(34rem); }
}
@keyframes marker { 
  0%, 20% { transform: translateX(0); }
  50%, 70% { transform: translateX(337rem); }
}
